@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");

.editor-content a {
  color: #0093c1;
  text-decoration: inherit;
}
.editor-content a[data-mce-selected],
.editor-content a[data-mce-selected="inline-boundary"] {
  background-color: transparent !important;
}

.noto-sans-tc {
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.editor-content p {
  margin: 0;
}

/* Image + text side-by-side with vertical centering */
.editor-content p.img-text-inline {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}

.editor-content p.img-text-inline img {
  flex: 0 0 auto;
}

.editor-content p.content-1,
.editor-content .subheading,
.editor-content .subheading-secondary {
  font-size: 16px;
  line-height: 1rem;
}

.editor-content p.content-2,
.editor-content .subheading2,
.editor-content .subheading-secondary2 {
  font-size: 14px;
  line-height: 0.875rem;
}

.editor-content .subheading,
.editor-content .subheading2 {
  font-weight: 700;
}

.editor-content .subheading-secondary,
.editor-content .subheading-secondary2 {
  font-weight: 500;
}

.editor-content .description {
  font-size: 12px;
  line-height: 0.75rem;
}

.editor-content .custom-d1 {
  font-size: 40px;
  line-height: 2.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.editor-content .custom-d2 {
  font-size: 36px;
  line-height: 2.25rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.editor-content .heading-h1 {
  font-size: 32px;
  line-height: 2rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.editor-content .heading-h2 {
  font-size: 28px;
  line-height: 1.75rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.editor-content .heading-h3 {
  font-size: 24px;
  line-height: 1.5rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.editor-content .heading-h4 {
  font-size: 20px;
  line-height: 1.25rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 4px;
}
.editor-content .heading-h5 {
  font-size: 18px;
  line-height: 1.25rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 4px;
}
.editor-content .heading-h6 {
  font-size: 18px;
  line-height: 1.25rem;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 4px;
}

@media screen and (max-width: 768px) {
  .editor-content .custom-d1 {
    font-size: 32px;
    line-height: 2rem;
  }
  .editor-content .custom-d2 {
    font-size: 28px;
    line-height: 1.75rem;
  }
  .editor-content .heading-h1 {
    font-size: 24px;
    line-height: 1.5rem;
  }
  .editor-content .heading-h2 {
    font-size: 20px;
    line-height: 1.25rem;
  }
  .editor-content .heading-h3,
  .editor-content .heading-h4,
  .editor-content .heading-h5,
  .editor-content .heading-h6 {
    font-size: 18px;
    line-height: 1.125rem;
  }

  .editor-content .table-default {
    width: 100%;
    max-width: 100%;
    table-layout: fixed;
  }
}

/*
  English 覆寫建議
*/
.editor-content.lang-en p,
.editor-content.lang-en .subheading,
.editor-content.lang-en .subheading-secondary {
  font-size: 15px;
  line-height: 1.125rem;
}

.editor-content.lang-en p.content-2,
.editor-content.lang-en .subheading2,
.editor-content.lang-en .subheading-secondary2 {
  font-size: 13px;
  line-height: 1rem;
}

.link-primary {
  color: #0093c1 !important;
  text-decoration: inherit;
}

.link-primary:hover {
  color: #00a59b !important;
}

.text-back-white {
  color: #ffffff;
}
.text-back-black {
  color: #0c0e1f;
}
.text-back-gray {
  color: #494a57;
}
.text-memo {
  color: #5e5f6b;
}
.text-primary-link {
  color: #0093c1;
}
.text-address {
  color: #00a59b;
}

.bg-back-white {
  background-color: #ffffff;
}
.bg-back-black {
  background-color: #0c0e1f;
}
.bg-back-gray {
  background-color: #494a57;
}
.bg-memo {
  background-color: #5e5f6b;
}
.bg-primary-link {
  background-color: #0093c1;
}
.bg-address {
  background-color: #00a59b;
}
.bg-back-light-gray {
  background-color: #eef0f0;
}

.editor-content .text-align-left {
  text-align: left;
}

.editor-content .text-align-center {
  text-align: center;
}

.editor-content .text-align-right {
  text-align: right;
}

.editor-iframe table,
.table-default {
  border-collapse: collapse;
  width: 100%;
  width: 100%;
  max-width: 100%;
  table-layout: fixed;
}

/* COL widths (mapped from <col style="width: ..%"> -> class col-w-pct-..) */
.editor-content col.col-w-pct-1 {
  width: 1%;
}
.editor-content col.col-w-pct-2 {
  width: 2%;
}
.editor-content col.col-w-pct-3 {
  width: 3%;
}
.editor-content col.col-w-pct-4 {
  width: 4%;
}
.editor-content col.col-w-pct-5 {
  width: 5%;
}
.editor-content col.col-w-pct-6 {
  width: 6%;
}
.editor-content col.col-w-pct-7 {
  width: 7%;
}
.editor-content col.col-w-pct-8 {
  width: 8%;
}
.editor-content col.col-w-pct-9 {
  width: 9%;
}
.editor-content col.col-w-pct-10 {
  width: 10%;
}
.editor-content col.col-w-pct-11 {
  width: 11%;
}
.editor-content col.col-w-pct-12 {
  width: 12%;
}
.editor-content col.col-w-pct-13 {
  width: 13%;
}
.editor-content col.col-w-pct-14 {
  width: 14%;
}
.editor-content col.col-w-pct-15 {
  width: 15%;
}
.editor-content col.col-w-pct-16 {
  width: 16%;
}
.editor-content col.col-w-pct-17 {
  width: 17%;
}
.editor-content col.col-w-pct-18 {
  width: 18%;
}
.editor-content col.col-w-pct-19 {
  width: 19%;
}
.editor-content col.col-w-pct-20 {
  width: 20%;
}
.editor-content col.col-w-pct-21 {
  width: 21%;
}
.editor-content col.col-w-pct-22 {
  width: 22%;
}
.editor-content col.col-w-pct-23 {
  width: 23%;
}
.editor-content col.col-w-pct-24 {
  width: 24%;
}
.editor-content col.col-w-pct-25 {
  width: 25%;
}
.editor-content col.col-w-pct-26 {
  width: 26%;
}
.editor-content col.col-w-pct-27 {
  width: 27%;
}
.editor-content col.col-w-pct-28 {
  width: 28%;
}
.editor-content col.col-w-pct-29 {
  width: 29%;
}
.editor-content col.col-w-pct-30 {
  width: 30%;
}
.editor-content col.col-w-pct-31 {
  width: 31%;
}
.editor-content col.col-w-pct-32 {
  width: 32%;
}
.editor-content col.col-w-pct-33 {
  width: 33%;
}
.editor-content col.col-w-pct-34 {
  width: 34%;
}
.editor-content col.col-w-pct-35 {
  width: 35%;
}
.editor-content col.col-w-pct-36 {
  width: 36%;
}
.editor-content col.col-w-pct-37 {
  width: 37%;
}
.editor-content col.col-w-pct-38 {
  width: 38%;
}
.editor-content col.col-w-pct-39 {
  width: 39%;
}
.editor-content col.col-w-pct-40 {
  width: 40%;
}
.editor-content col.col-w-pct-41 {
  width: 41%;
}
.editor-content col.col-w-pct-42 {
  width: 42%;
}
.editor-content col.col-w-pct-43 {
  width: 43%;
}
.editor-content col.col-w-pct-44 {
  width: 44%;
}
.editor-content col.col-w-pct-45 {
  width: 45%;
}
.editor-content col.col-w-pct-46 {
  width: 46%;
}
.editor-content col.col-w-pct-47 {
  width: 47%;
}
.editor-content col.col-w-pct-48 {
  width: 48%;
}
.editor-content col.col-w-pct-49 {
  width: 49%;
}
.editor-content col.col-w-pct-50 {
  width: 50%;
}
.editor-content col.col-w-pct-51 {
  width: 51%;
}
.editor-content col.col-w-pct-52 {
  width: 52%;
}
.editor-content col.col-w-pct-53 {
  width: 53%;
}
.editor-content col.col-w-pct-54 {
  width: 54%;
}
.editor-content col.col-w-pct-55 {
  width: 55%;
}
.editor-content col.col-w-pct-56 {
  width: 56%;
}
.editor-content col.col-w-pct-57 {
  width: 57%;
}
.editor-content col.col-w-pct-58 {
  width: 58%;
}
.editor-content col.col-w-pct-59 {
  width: 59%;
}
.editor-content col.col-w-pct-60 {
  width: 60%;
}
.editor-content col.col-w-pct-61 {
  width: 61%;
}
.editor-content col.col-w-pct-62 {
  width: 62%;
}
.editor-content col.col-w-pct-63 {
  width: 63%;
}
.editor-content col.col-w-pct-64 {
  width: 64%;
}
.editor-content col.col-w-pct-65 {
  width: 65%;
}
.editor-content col.col-w-pct-66 {
  width: 66%;
}
.editor-content col.col-w-pct-67 {
  width: 67%;
}
.editor-content col.col-w-pct-68 {
  width: 68%;
}
.editor-content col.col-w-pct-69 {
  width: 69%;
}
.editor-content col.col-w-pct-70 {
  width: 70%;
}
.editor-content col.col-w-pct-71 {
  width: 71%;
}
.editor-content col.col-w-pct-72 {
  width: 72%;
}
.editor-content col.col-w-pct-73 {
  width: 73%;
}
.editor-content col.col-w-pct-74 {
  width: 74%;
}
.editor-content col.col-w-pct-75 {
  width: 75%;
}
.editor-content col.col-w-pct-76 {
  width: 76%;
}
.editor-content col.col-w-pct-77 {
  width: 77%;
}
.editor-content col.col-w-pct-78 {
  width: 78%;
}
.editor-content col.col-w-pct-79 {
  width: 79%;
}
.editor-content col.col-w-pct-80 {
  width: 80%;
}
.editor-content col.col-w-pct-81 {
  width: 81%;
}
.editor-content col.col-w-pct-82 {
  width: 82%;
}
.editor-content col.col-w-pct-83 {
  width: 83%;
}
.editor-content col.col-w-pct-84 {
  width: 84%;
}
.editor-content col.col-w-pct-85 {
  width: 85%;
}
.editor-content col.col-w-pct-86 {
  width: 86%;
}
.editor-content col.col-w-pct-87 {
  width: 87%;
}
.editor-content col.col-w-pct-88 {
  width: 88%;
}
.editor-content col.col-w-pct-89 {
  width: 89%;
}
.editor-content col.col-w-pct-90 {
  width: 90%;
}
.editor-content col.col-w-pct-91 {
  width: 91%;
}
.editor-content col.col-w-pct-92 {
  width: 92%;
}
.editor-content col.col-w-pct-93 {
  width: 93%;
}
.editor-content col.col-w-pct-94 {
  width: 94%;
}
.editor-content col.col-w-pct-95 {
  width: 95%;
}
.editor-content col.col-w-pct-96 {
  width: 96%;
}
.editor-content col.col-w-pct-97 {
  width: 97%;
}
.editor-content col.col-w-pct-98 {
  width: 98%;
}
.editor-content col.col-w-pct-99 {
  width: 99%;
}
.editor-content col.col-w-pct-100 {
  width: 100%;
}

.editor-iframe td,
.editor-iframe th,
.editor-content .td-default,
.editor-content .th-default {
  border: 1px solid #dadada;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  vertical-align: middle;
  padding: 12px;
  font-size: 14px;
  line-height: 0.875rem;
  min-width: 0;
  white-space: normal;
  word-break: break-word;
  overflow-wrap: anywhere;
}

.editor-content td img,
.editor-content th img,
.editor-content td p,
.editor-content th p {
  vertical-align: inherit;
}

.editor-content .vertical-align-top {
  vertical-align: top;
}

.editor-content .vertical-align-middle {
  vertical-align: middle;
}

.editor-content .vertical-align-bottom {
  vertical-align: bottom;
}

/* Jodit: color picker swatches horizontal */
.jodit-color-picker__group {
  flex-wrap: nowrap;
  max-width: none;
  overflow-x: auto;
}
